* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Gilroy";
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.section__hero .container .hero__btns .hero__btn.btn-primary, .container-fluid .btn-primary {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  background: #398bff;
  border: 3px solid rgba(0, 105, 253, 0.752);
  border-radius: 4px;
}
.section__hero .container .hero__btns .hero__btn.btn-primary:hover, .container-fluid .btn-primary:hover {
  background: #1760c5;
}

.section__hero .container .hero__btns .hero__btn.btn-secondary, .container-fluid .btn-secondary {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #398bff;
  background: rgba(44, 130, 253, 0.15);
  border: none;
}
.section__hero .container .hero__btns .hero__btn.btn-secondary:hover, .container-fluid .btn-secondary:hover {
  background: #1760c5;
  color: #ffffff;
}

.header-wrapper {
  background: #001731;
  width: 100%;
  min-height: 900px;
  position: relative;
  overflow: hidden;
}
.header-wrapper .header-ellips {
  position: absolute;
  right: 200px;
  bottom: 0px;
  opacity: 0.75;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}
.header-wrapper .header-screen {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}

.container-fluid {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.02em;
  border-radius: 8px;
}
.container-fluid .nav-item {
  padding-left: 24px;
}
.container-fluid .nav-item a {
  color: #ffffff;
}
.container-fluid .nav-item a:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.container-fluid .btn-navbar {
  gap: 8px;
}
.container-fluid .btn-navbar select {
  position: relative;
  margin-right: 40px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background: none;
  color: #ffffff;
}
.container-fluid .btn-navbar select option {
  position: absolute;
  top: 120px;
  left: 10px;
  background: #001731;
}
.section__hero {
  position: relative;
  z-index: 2;
}
.section__hero .container {
  margin: 114px 0px 0px 120px;
  max-width: 715px;
}
.section__hero .container .hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 34px;
}
.section__hero .container .hero__btns {
  margin-bottom: 34px;
}
.section__hero .container .hero__btns span {
  margin: 0px 14px;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.35);
}
.section__hero .container .hero__btns .hero__btn {
  padding: 15px 22px;
}
.section__hero .container .hero__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 145%;
  color: #aac0e0;
}