.question__container {
    margin-bottom: clamp(1.1765rem, -0.1680rem + 7.1429vw, 5.8824rem);
}

.question__header {
    margin-bottom: clamp(1.1765rem, 0.5042rem + 3.5714vw, 3.5294rem);
    // решить вопрос с отступом фактически 70px, а надо 60px
}

.question__icon {
    margin-bottom: 24px;
}

.question__title {}

.question {
    // margin-bottom: 30px;
    margin-bottom: clamp(0.8824rem, 0.6303rem + 1.3392vw, 1.7647rem);

    // https://html5css.ru/howto/howto_js_accordion.php
    .accordion {
        border: 1px solid #E5E5E5;
        border-radius: 12px;
        background: white;
        cursor: pointer;
        // padding: 24px 60px 24px 24px;
        padding-top: clamp(0.8235rem, 0.6554rem + 0.8930vw, 1.4118rem);
        padding-right: 60px;
        padding-bottom: clamp(0.8235rem, 0.6554rem + 0.8930vw, 1.4118rem);
        padding-left: clamp(0.8235rem, 0.6554rem + 0.8930vw, 1.4118rem);
        min-width: 100%;
        text-align: left;
        color: #001731;
        font-weight: 600;
        // font-size: 24px;
        font-size: clamp(1.4118rem, 1.4118rem + 0.0000vw, 1.4118rem);
        line-height: 32px;
        transition: 0.4s;
        position: relative;
        // margin-top: 20px;
        display: flex;
        align-items: center;

        &:hover {
            background: #031E3E;
            color: #FFFFFF;
        }
    }

    .accordion:before,
    .accordion:after {
        content: '';
        width: 20px;
        height: 2px;
        background-color: #000000;
        position: absolute;
        // right: 30px;
        right: clamp(1.1765rem, 1.0084rem + 0.8928vw, 1.7647rem);
        display: inline-block;
        transition: .4s;
    }

    .accordion:hover:before,
    .accordion:hover:after {
        background-color: #FFFFFF;
    }

    .accordion:after {
        transform: rotate(-90deg);
    }

    .active:after {
        transform: rotate(0deg);
        background-color: #ffffff;
    }

    .active {
        background: #031E3E;
        color: #FFFFFF;
    }

    .panel {
        font-size: clamp(0.8235rem, 0.7899rem + 0.1787vw, 0.9412rem);
        // margin-top: 18px;
        background: #FFFFFF;
        // box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
        // border-bottom-left-radius: 6px;
        // border-bottom-right-radius: 6px;
        padding: 15px 18px 0px 18px;
        // padding: 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.questions__link {
    margin-top: 10px;
    font-weight: 500;
    // font-size: 20px;
    font-size: clamp(0.9412rem, 0.8740rem + 0.3572vw, 1.1765rem);
    color: #737F8E;
}

.accor {
    border: #000000 1px dashed;
    padding: 10px;
}

.accor__item {
    max-width: 475px;
    margin-inline: auto;
    // transition: .5s all;
    user-select: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
    border-radius: 6px;
}

.accor__item:not(:last-child) {
    margin-bottom: 20px;
}

.accor__item-trigger {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #001731;
    opacity: 0.75;
    padding: 25px;
    cursor: pointer;
    transition: .3s all;
    &:hover {
        opacity: 1;
    }
    &:hover .img-svg {
        fill-opacity: 1;
    }
}

.img-svg {
    transition: .3s;
}

.accor__item-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    letter-spacing: 0.02em;
    color: rgba(0, 23, 49, 0.55);
    padding: 10px 28px 36px 28px;
    display: none;
    border: 1px solid #EDF1F6;
    // animation: fade 0.4s ease;
    // margin-bottom: 20px;
}

.accor__item_active {}

.accor__item_active .accor__item-trigger {
    .img-svg {
        fill-opacity: 1;
    }
    opacity: 1;
}

.accor__item_active .accor__item-content {
    display: block;
}
