


// ====================================================================

.header {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.header__container {
    max-width: 1440px;
    min-height: 70px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    background: #001731;;


    @media (max-width:767px) {
        justify-content: space-between;
    }

}

.header__logo {
    position: relative;
    z-index: 5;
    
    .header__icon{
        fill: white;
        transition: all .3s;
        // vertical-align: -50px;
       
        &:hover{
            fill: rgb(187, 187, 187);
        }
    }
}

.header__menu {
    @media (min-width:767px) {
        width: 100%;
    }
}

.menu {}

.menu__icon {
    display: none;

    @media (max-width:767px) {
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        height: 18px;
        cursor: pointer;

        & span,
        &::after,
        &::before {
            position: absolute;
            left: 0;
            height: 10%;
            width: 100%;
            transition: all .3 ease 0;
            background-color: #fff;
        }

        &::after,
        &::before {
            content: " ";
        }

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0px;
        }

        & span {
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }

        &._active span {
            transform: scale(0) translate(0px, -50%);
        }

        &._active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }

        &._active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }
    }
}

.menu__body {
    @media (min-width:767px) {
        display: flex;
        justify-content: space-between;
        // border: 2px solid red;
        margin-left: 20px;
        gap: 10px;
    }

    @media (max-width:767px) {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(3, 30, 62, .99);
        ;
        padding: 100px 30px 30px 30px;
        transition: top .3s ease 0s;
        overflow: auto;

        &._active {
            top: 0;
        }
        &._active::before{
            top: 0;
        }
        &::before {
            content: "";
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 70px;
            background-color: #001731;
            z-index: 5;
        }
    }
}

.menu__body-item {
    display: flex;
    // border: 1px solid red;
    // flex: 1 1 auto;
    align-items: flex-end;
    @media (min-width:767px) {
        align-items: center;
    }

    @media (max-width:767px) {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

.menu__list {
    @media (min-width:767px) {
        display: flex;
        align-items: center;
        gap: 20px;

        &>li {
            white-space: nowrap;
        }
    }

    @media (max-width:767px) {
        &>li {
            margin-bottom: 40px;
        }
    }
}

.menu__link {
    color: #fff;
    text-decoration: none;
    transition: color .3s;
    @media (max-width:767px) {
        font-size: 1.5rem;
        font-weight: 600;
    }

    &:hover {
        color: #a8a8a8;
    }
}

.menu__leng {
    width: 50px;
    height: 40px;
    @media (min-width:767px) {
        margin-right: 20px;
    }

    @media (max-width:767px) {
        margin-top: 25px;
    }
}

.menu__option {}

.menu__button {
    display: flex;
    align-items: center;
    gap: 20px;
    // margin-left: auto;

    .button {
        padding: 8px 12px;
        border-radius: 0.2353rem;
        text-align: center;
        white-space: nowrap;
    }
}
