.container-learn{
    background: #031E3E;
}

.learn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1.1765rem, -25.8820rem + 38.3329vw, 6.5882rem);

    @media (max-width:1100px) {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    &__item {
        padding-top: clamp(1.1765rem, -0.2445rem + 7.1051vw, 4.3529rem);
        .learn__img {
            @media (max-width: 1270px) {
                width: 100%;
            }
        }
    }
}

.learn__icon {
    margin-bottom: 24px;
}

.learn__title {
    color: #FFFFFF;
}

.learn__text {
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;
    color: #AAC0E0;
    @media (max-width: 1140px) {
        font-size: clamp(1rem, 0.8938rem + 0.5000vw, 1.25rem);
    }
}

.learn__button {
    display: inline-block;
    padding: 15px 22px;
}