.section__pricing {}

.section__pricing__container {}

.pricing__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pricing__header-item {

        .pricing__title {}

        .pricing__text {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: rgba(0, 23, 49, 0.55);
        }
    }


}

.billing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 20px 30px;
    background: #F7F7F7;
    border-radius: 12px;


    & .billing__item {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: rgba(0, 23, 49, 0.55);
    }

    & .active {
        color: $secondary-color;
    }
}

.switcher {
    width: 42px;
    height: 24px;
    border-radius: 100px;
    background: $secondary-color;
    position: relative;

    &__buttom {
        position: absolute;
        left: 2.3px;
        top: 2.3px;
        bottom: 2.3px;
        width: 19px;
        height: 19px;
        background: #FFFFFF;
        border-radius: 100%;
    }
}

.price {
    display: flex;
    gap: 30px;
}

.price__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(10, 17, 85, 0.1);
    border-radius: 12px;
    width: 470px;
    padding: 27px 24px 27px 24px;

    .price__item-name {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.02em;
        color: $secondary-color;
        margin-bottom: 17px;

        span {
            padding: 5px 12px;
            margin-left: 10px;
            background: rgba(240, 71, 71, 0.1);
            border-radius: 4px;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: #F04747;
        }
    }

    .price__item-oldprice {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: line-through;
        color: #F04747;
        margin-bottom: 15px;
    }

    .price__item-price {
        font-weight: 700;
        font-size: 42px;
        line-height: 110%;
        letter-spacing: -0.03em;
        color: #001731;
        margin-bottom: 17px;

        span {
            font-weight: 600;
            font-size: 20px;
            color: rgba(0, 23, 49, 0.55)
        }
    }

    .price__item-period {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.03em;
        color: rgba(0, 23, 49, 0.55);
        margin-bottom: 8px;
    }

    .price__item-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #6A6A6A;
        margin-bottom: 22px;
    }

    .price__item-button {
        margin-bottom: 48px;

    }

    .buttom__price {
        display: inline-block;
        min-width: 100%;
        height: 52px;
        text-align: center;
        text-decoration: none;
        line-height: 46px;

    }

}

.price__list {
    .price__list-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .price__list-item {
        display: flex;
        align-items: center;
    }

    .price__list-item--img {}

    .price__list-item--text {
        // align-content: flex-start;
        margin-left: 16px;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        color: rgba(0, 23, 49, 0.55);

    }

    .price__list-item--icon {
        margin-left: auto;
    }
}

.price__item_pro {
    background: #031E3E;
    color: #FFFFFF;
    position: relative;

    &::before {
        content: 'Most popular';
        font-weight: 700;
        font-size: 14px;
        line-height: 37px;
        text-transform: uppercase;
        padding-left: 12px;
        background: url(/img/__pricing/marker.svg);
        width: 166px;
        height: 37px;
        position: absolute;
        top: 21px;
        right: -13px;
    }

    .price__item-name {
        span {
            color: #FFFFFF;
            background: #031E3E;
            border-radius: .25rem;
            border: 1px solid white;
        }
    }

    .price__item-oldprice {}

    .price__item-price {
        color: inherit;
    }

    .price__item-period {
        color: inherit;

    }

    .price__item-text {
        color: inherit;

    }

    .button_primary {}

    .price__list {}

    .price__list-item {}

    .price__list-item--img {}

    .price__list-item--text {
        color: inherit;

    }

    .price__list-item--icon {}
}



.price__item-soon {
    margin-bottom: 8px;

}