.review-container {
    background: #F6F7FB;
    padding-top: clamp(1.25rem, -0.1786rem + 7.5893vw, 6.25rem);
    padding-bottom: clamp(1.25rem, -0.1786rem + 7.5893vw, 6.25rem);
    margin-bottom: clamp(1.1765rem, -0.5871rem + 8.8182vw, 6.8824rem);
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: clamp(1.25rem, 0.8929rem + 1.8973vw, 2.5rem);

    .review__link {
        margin-left: auto;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        letter-spacing: 0.01em;
        color: $secondary-color;
    }
}

.review {
    display: flex;
    gap: clamp(0.8824rem, 0.6303rem + 1.3392vw, 1.7647rem);

    @media (max-width: 920px) {
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 0 1 33.3333%;
        padding: clamp(0.8824rem, 0.5967rem + 1.5179vw, 1.8824rem);
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
        border-radius: 12px;

        @media (max-width: 920px) {
            flex: 0 1 auto;
            min-width: 100px;
        }
    }
}

.review__info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.review__titles {
    &__title {
        font-weight: 700;
        font-size: clamp(1rem, 0.9496rem + 0.2679vw, 1.1765rem);
        line-height: 100%;
        letter-spacing: -0.03em;
        color: #001731;
        margin-bottom: 8px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: rgba(0, 23, 49, 0.3);
    }

}


.review__text {
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8235rem, 0.7899rem + 0.1787vw, 0.9412rem);
    line-height: 26px;
    color: #001731;
    opacity: 0.75;
    margin-bottom: 25px;
}

.review__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    &__footer-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: rgba(0, 23, 49, 0.3);
    }
}