.story {
  display: flex;
  align-items: center;
  margin-bottom: clamp(1.1765rem, 0.3026rem + 4.6428vw, 4.2353rem);

  @media (max-width: 992px) {
    flex-direction: column-reverse;
  }
}

.story__item_left {
  flex: 0 2 auto;

  & .story__item__video {
    position: relative;
    margin: -62px 0px 0px 0px;

    @media (max-width: 992px) {
      margin: 0px;
    }

    & .story__video {
      max-width: 100%;
    }
  }
}

.story__item_right {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  padding: 40px;

  @media (max-width: 992px) {
    padding: 20px 0px 20px 0px;
  }
}

.story__item__text-container {
  max-width: 500px;

  @media (max-width: 992px) {
    max-width: 100%;
  }

  & .story__text {
    font-weight: 400;
    // font-size: 16px;
    font-size: clamp(0.8235rem, 0.7899rem + 0.1787vw, 0.9412rem);
    line-height: 175%;
    color: #001731;
    opacity: 0.75;
    margin-bottom: 10px;
  }
}